<form [formGroup]="formClient" novalidate> 
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" name="nombre" placeholder="Escriba nombre"
        required id="nombre" formControlName="nombre" >

        <div *ngIf="formClient.controls['nombre'].invalid && (formClient.controls['nombre'].dirty || formClient.controls['nombre'].touched)"
            class="text-danger">
            <div *ngIf="formClient.controls['nombre'].errors['required'] || 
                        formClient.controls['nombre'].errors['whitespace'] ||
                        formClient.controls['nombre'].errors['pattern']" 
                class="text-danger">
               Error en el campo
            </div>
        </div>

        <label for="apellido" class="form-label">Apellido</label>
        <input type="text" class="form-control" name="apellido" placeholder="Escriba apellido"
        required id="apellido" formControlName="apellido" >

        <div *ngIf="formClient.controls['apellido'].invalid && (formClient.controls['apellido'].dirty || formClient.controls['apellido'].touched)"
            class="text-danger">
            <div *ngIf="formClient.controls['apellido'].errors['required'] || 
                        formClient.controls['apellido'].errors['whitespace'] ||
                        formClient.controls['apellido'].errors['pattern']"
                class="text-danger">
               Error en el campo
            </div>
        </div>

        <label for="fechaNacimiento" class="form-label">Fecha Nacimiento</label>
        <input type="date" class="form-control" name="fechaNacimiento" placeholder="Escribe tu fechaNacimiento"
        required id="fechaNacimiento" formControlName="fechaNacimiento">

        <div *ngIf="formClient.controls['fechaNacimiento'].invalid && (formClient.controls['fechaNacimiento'].dirty || formClient.controls['fechaNacimiento'].touched)"
            class="text-danger">
            <div *ngIf="formClient.controls['fechaNacimiento'].errors['required'] || 
                        formClient.controls['fechaNacimiento'].errors['whitespace']"
                class="text-danger">
               Error en el campo
            </div>
        </div>

        <label for="fotoUsuario" class="form-label">Foto usuario</label>
        <input type="file" class="form-control" name="fotoUsuario" (change)="onFileSelected($event)"
        required id="fotoUsuario" formControlName="fotoUsuario">

        <div *ngIf="formClient.controls['fotoUsuario'].invalid && (formClient.controls['fotoUsuario'].dirty || formClient.controls['fotoUsuario'].touched)"
            class="text-danger">
            <div *ngIf="formClient.controls['fotoUsuario'].errors['required'] ||                         
                        formClient.controls['fotoUsuario'].errors['pattern']"
                class="text-danger">
               Error en el campo
            </div>
        </div>

        <label for="estadoCivil" class="form-label">Estado civil</label>
        <select formControlName="estadoCivil" class="form-control">
            <option *ngFor="let option of options" [value]="option.value">{{ option.label }}</option>
          </select>

        <div *ngIf="formClient.controls['estadoCivil'].invalid && (formClient.controls['estadoCivil'].dirty || formClient.controls['estadoCivil'].touched)"
            class="text-danger">
            <div *ngIf="formClient.controls['estadoCivil'].errors['required'] "
                class="text-danger">
               Error en el campo
            </div>
        </div>

        <br>
        <button (click)="addPersona()" *ngIf="Persona.id==0" class="btn btn-primary">Add</button>
        <button (click)="UpdatePersona()" *ngIf="Persona.id!=0" class="btn btn-primary">Update</button>
    </div>
</form>
